.header {
  font-size: 32px;
}

.postList {
  list-style: none;
  padding: 0;
}

.postItem {
  padding-bottom: 10px;
  border-bottom: solid;
  margin-bottom: 30px;
  transition: color 0.3s;
}

.postItem:hover {
  color: skyblue;
  cursor: pointer;
}